:root {
  --background-color: #fafafa;
  --text-color: #000;
}

body {
  font-family: "Montserrat", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
.w-44 {
  width: 48%;
}

.text-xx {
  font-size: 10px;
}
.homebg {
  background-image: url(images/background.svg);
  background-position: center;
  background-color: orange;
}
.flexclass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.border-r-w1 {
  border-right-width: 1px;
}
.minScreen {
  min-height: calc(100vh - 3.2rem);
}
gbtransparent {
  background-color: red;
}

span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span {
  display: block;
}
